/.fabric/
/.mxin.out/
/.replay_cache/
/backups/
/crash-reports/
/defaultconfigs/
/downloads/
/itemscroller/
/journeymap/
/local/
/logs/
/mods/
/mods_disabled/
/patchouli_books/
/profileImage/
/replay_recordings/
/resourcepacks/
/resources/
/saves/
/screenshots/
/shaderpacks/
/simple-rpc/
/voicechat_recordings/

# Scripts
scripts/private.json
scripts/node_modules

# KubeJS
kubejs/mods/**
kubejs/exported/**

# Files
.curseclient
minecraftinstance.json
options.justenoughkeys.txt
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
TODO.txt
